<div class="content">
<h2>Log in</h2>
<%= form_tag sessions_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= text_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in", :class => 'button' %>
  </div>

<% end %>
</div>