<div>
<%= form_for @user do |f| %>
  <p>
    <%= @user.errors.full_messages.join(", ") unless @user.errors.empty? %>
  </p>
  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button'  %>
  </div>

<% end %>
</div>